.ticket {
  width: 296px;
  padding: 14px 11px 24px;
  background: #FFFFFF;
  border-radius: 3px;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 5px;
  }

  &__field {
    margin-top: 12px;
  }

  &__field-name {
    font-weight: 700;
    padding-left: 5px;
    margin-right: 8px;
  }

  &__field-task {
    transition: 0.3s linear;
  }

  &__field-task_warning {
    transition: 0.1s linear;
    color: #ff0004;
  }

  &__result-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 43px;
    border: 1px solid #a9a9a9;
    border-radius: 40px;
    margin: 23px auto 0;
    opacity: 0.64;
    transition: 0.1s linear;

    &:hover:not(.ticket__result-button_win):not(.ticket__result-button_lose):not(.ticket__result-button_disabled) {
      background-color: #a9a9a9;
      cursor: pointer;
    }
  }

  &__result-button_win {
    color: #409f01;
    border-color: #53d000;
  }

  &__result-button_lose {
    color: #930000;
    border-color: #e80000;
  }

  &__result-button_disabled {
    opacity: 0.4;
  }

  &__magic-wand {
    cursor: pointer;
    transition: 0.1s linear;
  }

  &__magic-wand_disabled {
    opacity: 0.3;
    cursor: default;
  }
}